.chessboard {
    display: flex;
    flex-direction: column;
    width: 95vw; 
    height: 95vh; 
    max-width: 95vh;  
    max-height: 95vw; 
    margin: auto;  
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.black {
    background-color: grey;
}

.white {
    background-color: cornsilk;
}

.piece {
    width: 90%;
    height: 90%;
}

